@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanumpenscript.css');
@import url('http://fonts.googleapis.com/earlyaccess/hanna.css');
*{
    font-family: 'Hanna', serif;
    margin:auto;
}

a,a:hover{
    text-decoration: none;
    color:black;
}
div.wrap{
    width:1024px;
    height:auto;
    font-size:12pt;
}

div.loginDiv{
    font-size:0.95em;
    text-align: right;
}
div.titleDiv{
    text-align:center;
}

div.navDiv{
    text-align: center;
    font-size:1.7em;
}
div.navDiv span{
    padding:0px 30px 0px 30px;
}
div.navDiv span a:hover{
    background-color: lightgreen;
    color:white;
}
div.subTitle{
    padding:20px;
    margin:10px;
    font-size: 2.0em;
    border-bottom: 3px solid black;
}
div.clear{
    clear:both;
}

/* HOME CSS S*/

div.homeImg{
    text-align: center;
    width:100%;
}
div.homeImg img{
    width:90%;
}

/* HOME CSS E*/

/* QnA CSS S */

div.qnaTableArea{
    font-size:1.2em;
}
div.qnaTableArea table {
    width:1024px;
    text-align: center;
}
div.qnaTableArea td {
    border:6px outset gray;
    padding:10px;
}
div.qnaTableArea table tr:first-child{
    font-size:1.3em;
}
div.qnaTableArea div{
    border:6px outset gray;
    padding:10px;
    float:right;
}
div.qnaTableArea table tr td:nth-child(1){
    width:auto;
}
div.qnaTableArea table tr td:nth-child(2){
    width:10%;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
div.qnaTableArea table tr td:nth-child(3){
    width:auto;
}
div.qnaTableArea table tr td:nth-child(4){
    width:auto;
}
div.qnaTableArea table tr td:nth-child(5){
    width:auto;
}

/* Content View */
div.contentInfo{
    text-align: right;
    font-size:0.9em;
}
div.b_content{
    border-bottom: 3px solid black;
    padding:20px;
    font-size: 1.7em;
}
div.contentMenu{
    text-align: right;
}
div.attachmentArea{
    margin:10px;
}
div.attachmentArea a:hover{
    background-color: hotpink;
    color:white;
}

/* QnA CSS E */


div.itemBox{
    float:left;
    margin:15px;
    text-align:center;
}
div.itemBox img{
    width:300px;
    height:300px;
}
div.itemPage{
    font-size:1.3em;
    text-align: center;
    clear:both;
}
div.itemMenu{
    text-align: right;
}
div.itemMenu a{
    font-size:1.4em;
}



/* View */
div.itemDetail{
    font-size: 1.5em;
    float:left;
    margin:13px;
}
div.itemDetail input[type=number]{
    font-size: 1.0em;
    width:60px;
}
div.itemDetail input[type=submit]{
    font-size: 1.0em;
    padding:10px;
}
div.itemDetail td{
    padding:10px;
}

div.itemSubTitle{
    clear:both;
    margin:30px;
    padding:30px;
    border-bottom:3px solid black;
    font-size: 2.0em;
}
div.itemContent{
    margin:60px;
}

div.itemDetailImg {
    text-align: center;
}
div.itemDetailImg img{
    width:960px;
    height: auto;
}
div.itemContent{
    font-size:1.5em;
}
div.orderInfo{
    margin-left:60px;
    float:left;
    font-size:1.6em;
}
div.orderInfo td{
    padding:8px;
}
div.orderInfo input{
    font-size:1.6em;
}
div.orderInfo table tr:last-child{
    text-align: right;
}

/* WRITE */
div.itemWriteArea{

}
div.itemWriteArea table td:{
}
